@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

html,
body {
  overscroll-behavior: none;
}

body {
  font-family: 'Carter One', sans-serif !important; 
  text-align: center;
  background-color: #1f1e1e;
  background-image: url('bg6.webp');
  background-size: auto;
  background-blend-mode: soft-light;
  color: whitesmoke;
  height: 200vh;
  -webkit-font-smoothing: antialiased;
}

.carter-one-regular {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
}
