@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

html,
body {
  overscroll-behavior: none;
}

html { 
  background: url('/finalbg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Carter One', sans-serif !important; 
  text-align: center;
  color: whitesmoke;
  height: 200vh;
  -webkit-font-smoothing: antialiased;
}

.carter-one-regular {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
}
