html,
body {
  overscroll-behavior: none;
}

body {
  font-family: Arial Black, sans-serif;
  text-align: center;
  background-color: #1f1e1e;
  color: whitesmoke;
  font-family: 'Assistant', sans-serif;
  height: 200vh;
  background-image: url(mockaroon-bg.png);
  -webkit-font-smoothing: antialiased;
}

.bowlby-one-sc-regular {
  font-family: 'Bowlby One SC', sans-serif;
  font-weight: 800;
  font-style: normal;
}
